* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

.topbar {
  background-color: inherit;
  font-size: 24px;
}

.header {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 130px;
  aspect-ratio: 1;
  margin: 3rem auto 2rem auto;
}

.header-text {
  margin: 0 auto;
}

.fields {
  display: flex;
  flex-direction: column;
}

.field {
  width: 80%;
  margin: 1rem auto;
  border: 1px solid #d3d1d1;
  padding: 0;
}

.field-icon {
  font-size: 1.2rem;
  padding: 0 1rem 0 0;
  color: #d3d1d1;
}

.show-password {
  font-size: 1.2rem;
  padding: 0 0 0 1rem;
  color: #d3d1d1;
}

.username,
.password {
  padding-left: 1rem;
}

.forgot-password {
  padding-left: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.signin,
.signup {
  width: 250px;
  margin: .5rem auto;
}
