<ion-header class="ion-no-border header-container">
    <img src="assets/icon/NEUST.png" class="logo" (click)="adminsignin()">
    <h1 class="topbar">NEUST CLINIC</h1>
    <ion-button (click)="signup()" class="signup1" >Sign Up</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header">
    <h2 class="header-text">Sign In</h2>
  </div>

  <div class="fields">
    <ion-list inset lines="none">
      <ion-item class="field">
        <ion-icon name="person" class="field-icon"></ion-icon>
        <ion-input type="text" placeholder="Username" name="username" class="username" no-lines></ion-input>
      </ion-item>
      <ion-item class="field">
        <ion-icon name="lock-closed" class="field-icon"></ion-icon>
        <ion-input type="password" placeholder="Password" name="password" class="password" no-lines></ion-input>
        <ion-icon name="eye" class="show-password" id="show-password"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label class="forgot-password">Forgot Password?</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="button-container">
    <ion-button (click)="signin()" class="signin">Sign In</ion-button>
  </div>

</ion-content>
