.toolbar1 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dashboard1 {
    font-size: 30px;
}

.toolbar2 {
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.dashboard2 {
    font-size: 30px;
    text-align: center;
    font-weight: 20px;
}