.chart-container {
  padding: 0;
  margin: 2rem 0;
}

.chart {
  width: 100%;
  height: 200px;
}

.chart-container > h4 {
  margin: 0;
  background-color: #0275d8;
  color: white;
  text-align: center;
  font-weight: 700;
  padding: 5px;
}
