<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-menu-toggle>
        <ion-button><ion-icon name="close"></ion-icon></ion-button>
      </ion-menu-toggle>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="primary">
    <ion-button expand="full" (click)="admindashboard()">Dashboard</ion-button>
    <ion-button expand="full" (click)="masterlist()">Master List</ion-button>
    <ion-button expand="full" (click)="verification()">Verification</ion-button>
    <ion-button expand="full" (click)="reports()">Reports</ion-button>
    <ion-button expand="full" (click)="adminsignin()">Logout</ion-button>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary" class="toolbar1">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="dashboard1"><b>DASHBOARD</b></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  
    <ion-img src="assets/icon/1graph.png"></ion-img>
    <br>
    <br>
    <ion-img src="assets/icon/2graph.png"></ion-img>
    <br>
    <br>
    <ion-img src="assets/icon/3graph.png"></ion-img>
    <br>
    <br>
    <ion-img src="assets/icon/4graph.png"></ion-img>
    <br>
    <br>
    <ion-img src="assets/icon/graph6.png"></ion-img>
    <br>
    <br>

    <h2 class="ion-text-center">Recent Consultations</h2>
    <ion-button color="medium" (click)="download()">CSV</ion-button>
    <ion-button color="medium" (click)="download()">PDF</ion-button>
    <ion-button color="medium" (click)="print()">Print</ion-button>
    <ion-button color="medium">Column Visibility</ion-button>
    <table id="customers">
      <thead>
        <tr>
          <th>Time</th>
          <th>Patient</th>
          <th>Diagnosis</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>420183345</td>
          <td>Jemuel Cepeda</td>
          <td>LRTI</td>
          <td><ion-button color="primary" (click)="profile6()" ><ion-icon name="eye"></ion-icon></ion-button><ion-button color="success" (click)="medcert()"><ion-icon name="duplicate"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>4201323245</td>
          <td>Reniel Catanghal</td>
          <td>HEENT</td>
          <td><ion-button color="primary" (click)="profile4()"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="success" (click)="medcert()"><ion-icon name="duplicate"></ion-icon></ion-button></td>
        </tr>
      </tbody>
    </table>

  </ion-content>
</div>
