<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-toggle>
        <ion-button><ion-icon name="close"></ion-icon></ion-button>
      </ion-menu-toggle>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-button expand="full" (click)="admindashboard()">Dashboard</ion-button>
    <ion-button expand="full" (click)="masterlist()">Masterlist</ion-button>
    <ion-button expand="full" (click)="verification()">Verification</ion-button>
    <ion-button expand="full" (click)="reports()">Reports</ion-button>
    <ion-button expand="full" (click)="adminsignin()">Log out</ion-button>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-title>Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div class="chart-container">
      <h4>Gender Ratio</h4>
      <div id="donutchart" class="chart"></div>
    </div>
    <div class="chart-container">
      <h4>Registered</h4>
      <div id="piechart_3d" class="chart"></div>
    </div>
    <div class="chart-container">
      <h4>Covid Vaccine</h4>
      <div id="barchart" class="chart"></div>
    </div>


  </ion-content>
</div>
