<ion-header class="ion-no-border">
  <ion-toolbar>
<ion-title>NEUST CLINIC</ion-title>
<ion-button slot="end">Sign In</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Sign Up</h1>
<h1>Personal Information</h1>
<ion-icon name="person-circle-sharp" color="medium"></ion-icon>

<ion-list>
  <ion-item>
    <ion-label position="stacked">*Student Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Username</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Repeat Password</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*First Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Middle Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Last Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Suffix (Leave empty if not applicable.)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Birthdate</ion-label>
    <ion-input type="date"></ion-input>
  </ion-item>


    <ion-item>
      <ion-label position="stacked">Gender</ion-label>
      <ion-select interface="popover" placeholder="Gender">
        <ion-select-option value="male">Male</ion-select-option>
        <ion-select-option value="female">Female</ion-select-option>
      </ion-select>
    </ion-item>


  <ion-item>
    <ion-label>*Religion</ion-label>
    <ion-select interface="popover" placeholder="Religion">
      <ion-select-option value="religion">Religion</ion-select-option>
      <ion-select-option value="catholic">Roman Catholic</ion-select-option>
      <ion-select-option value="inc">Iglesia Ni Cristo</ion-select-option>
      <ion-select-option value="islam">Islam</ion-select-option>
      <ion-select-option value="jwit">Jehovah's Witnesses</ion-select-option>
      <ion-select-option value="bap">Bible Baptist Church</ion-select-option>
      <ion-select-option value="mor">Mormon</ion-select-option>
      <ion-select-option value="born">Born Again</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>*Course</ion-label>
    <ion-select interface="popover" placeholder="Course">
      <ion-select-option value="course">Course</ion-select-option>
      <ion-select-option value="bsit">BSIT</ion-select-option>
      <ion-select-option value="bsed">BSED</ion-select-option>
      <ion-select-option value="bse">BSE</ion-select-option>
      <ion-select-option value="bsba">BSBA</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>*Year Level</ion-label>
    <ion-select interface="popover" placeholder="Year Level">
      <ion-select-option value="course">Year Level</ion-select-option>
      <ion-select-option value="1st">1st</ion-select-option>
      <ion-select-option value="2nd">2nd</ion-select-option>
      <ion-select-option value="3rd">3rd</ion-select-option>
      <ion-select-option value="4th">4th</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*School Year</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h1>Contact</h1>

  <ion-item>
    <ion-label position="stacked">*Contact</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Email</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Cellphone Number (Parents/Guardians)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h1>Family</h1>
  <ion-item>
    <ion-label position="stacked">*Father</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Occupation</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Mother</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Occupation</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h1>Address</h1>

  <ion-item>
    <ion-label position="stacked">*House Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Street</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*City/Municipality</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Province</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h1>Additional Information</h1>
  <ion-label>(Leave empty if not applicable.)</ion-label>

  <ion-item>
    <ion-label position="stacked">*Height (cm)</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">*Weight (kg)</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h1>If you have chronic Illness (Diabetes, Seizures, Asthma) please give details:</h1>

  
  <ion-item>
    <ion-label position="stacked">*Illness</ion-label>
    <ion-input></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">*Age of Diagnosis</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <h1>Present Medication and Schedule: (Kasalukuyang iniinom na mga gamot)</h1>
  <ion-input></ion-input>

  <ion-item>
    <ion-label position="stacked">*Doctor's Name</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Clinic Address</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">*Telephone Number</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-button (click)="success()">Sign Up</ion-button>
</ion-list>


</ion-content>
