    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-menu-toggle>
            <ion-button><ion-icon name="close"></ion-icon></ion-button><ion-title>Menu Content</ion-title>
          </ion-menu-toggle>

        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-button expand="full"><ion-icon name="person"></ion-icon>&nbsp;Profile</ion-button>
        <ion-button expand="full"><ion-icon name="flask"></ion-icon>&nbsp;Lab Procedures</ion-button>
        <ion-button expand="full"><ion-icon name="duplicate"></ion-icon>&nbsp;Treatment Record</ion-button>
        <ion-button expand="full" (click)="logoutalert()"><ion-icon name="exit"></ion-icon></ion-button>
        </ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>

          <ion-title>STUDENT DASHBOARD</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">


         <div class="d-flex flex-column">
            <div class="img-div">
              <img class="circle-pic" src="assets/icon/DP.png"/>
              <img class="camera-icon" src="assets/icon/icon-camera.png"/>
            </div>
            <div class="btn-container">
              <ion-button shape="round" class="upload-btn">Upload</ion-button>
            </div>
         </div>

         <ion-list>

          <h1>Personal Information</h1>

         <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input value="Clrkshne"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input value="Clark Shane"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Middle Name</ion-label>
          <ion-input value="Arnaiz"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input value="Vicencio"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ext</ion-label>
          <ion-input value="N/A"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Age</ion-label>
          <ion-input value="21"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Birthdate</ion-label>
          <ion-input type="date" value="2001-07-06"></ion-input>
        </ion-item>

          <ion-item>
            <ion-label position="stacked">Gender</ion-label>
            <ion-select interface="popover" value="male">
              <ion-select-option value="male">Male</ion-select-option>
              <ion-select-option value="female">Female</ion-select-option>
            </ion-select>
          </ion-item>


  <ion-item>
    <ion-label position="stacked">Religion</ion-label>
      <ion-select interface="popover" value="catholic">
      <ion-select-option value="religion">Religion</ion-select-option>
      <ion-select-option value="catholic">Roman Catholic</ion-select-option>
      <ion-select-option value="inc">Iglesia Ni Cristo</ion-select-option>
      <ion-select-option value="islam">Islam</ion-select-option>
      <ion-select-option value="jwit">Jehovah's Witnesses</ion-select-option>
      <ion-select-option value="bap">Bible Baptist Church</ion-select-option>
      <ion-select-option value="mor">Mormon</ion-select-option>
      <ion-select-option value="born">Born Again</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Course</ion-label>
    <ion-select interface="popover" value="bsit">
      <ion-select-option value="course">Course</ion-select-option>
      <ion-select-option value="bsit">BSIT</ion-select-option>
      <ion-select-option value="bsed">BSED</ion-select-option>
      <ion-select-option value="bse">BSE</ion-select-option>
      <ion-select-option value="bsba">BSBA</ion-select-option>
      </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Year Level</ion-label>
    <ion-select interface="popover" value="4th">
      <ion-select-option value="course">Year Level</ion-select-option>
      <ion-select-option value="1st">1st</ion-select-option>
      <ion-select-option value="2nd">2nd</ion-select-option>
      <ion-select-option value="3rd">3rd</ion-select-option>
      <ion-select-option value="4th">4th</ion-select-option>
      </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">School Year</ion-label>
    <ion-input value="2022"></ion-input>
  </ion-item>

  <h1>Contact</h1>

  <ion-item>
    <ion-label position="stacked">Contact</ion-label>
    <ion-input value="09051784580"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input value="clark_vicencio@yahoo.com"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Cellphone Number (Parents/Guardians)</ion-label>
    <ion-input value="09354435354"></ion-input>
  </ion-item>

  <h1>Family</h1>

  <ion-item>
    <ion-label position="stacked">Father</ion-label>
    <ion-input value="Edwin Vicencio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Occupation</ion-label>
    <ion-input value="Businessman"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Mother</ion-label>
    <ion-input value="Lorelei Vicencio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Occupation</ion-label>
    <ion-input value="Housewife"></ion-input>
  </ion-item>

  <h1>Address</h1>

  <ion-item>
    <ion-label position="stacked">House Number</ion-label>
    <ion-input value="588"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Street</ion-label>
    <ion-input value="Purok 7 Calaba"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">City/Municipality</ion-label>
    <ion-input value="San Isidro"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Province</ion-label>
    <ion-input value="Nueva Ecija"></ion-input>
  </ion-item>

  <h1>BMI</h1>
  <ion-item>
    <ion-label position="stacked">Blood Pressure</ion-label>
    <ion-input value="N/A"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Height (cm)</ion-label>
    <ion-input value="167cm"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Weight (kg)</ion-label>
    <ion-input value="60"></ion-input>
  </ion-item>
      </ion-list>

      <div>
        <ion-item>
        <ion-label class="ion-text-wrap">If you have chronic illnesses (Diabetes, Seizures, Asthma) please give details:</ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Illness</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Age at Diagnosis</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked" class="ion-text-wrap">Present Medication and Schedule: (Kasalukuyang iniinom na mga gamot)</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Doctor's Name</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Clinic Address</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telephone Number</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button shape="round">Update</ion-button>


      </div>


      </ion-content>

