<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-menu-toggle>
        <ion-button><ion-icon name="close"></ion-icon></ion-button>
      </ion-menu-toggle>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" color="primary">
    <ion-button expand="full" (click)="admindashboard()">Dashboard</ion-button>
    <ion-button expand="full" (click)="masterlist()">Master List</ion-button>
    <ion-button expand="full" (click)="verification()">Verification</ion-button>
    <ion-button expand="full" (click)="reports()">Reports</ion-button>
    <ion-button expand="full" (click)="adminsignin()">Log out</ion-button>
    </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary" class="toolbar1">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="masterlist1"><b>Master List</b></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <table id="customers">
      <thead>
        <tr>
          <th>ID Number</th>
          <th>Name</th>
          <th>Course</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>420183245</td>
          <td>Clark Shane A. Vicencio</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>420184545</td>
          <td>Mark A. Gamboa</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>420122245</td>
          <td>Ronmar Ong</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>420183345</td>
          <td>Jemuel Cepeda</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>420122245</td>
          <td>Emerjoe Rosas</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>420183885</td>
          <td>Gerlito Torress</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>4201323245</td>
          <td>Reniel Catanghal</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
        <tr>
          <td>425183245</td>
          <td>Ricardo Milos</td>
          <td>BSIT</td>
          <td><ion-button color="primary"><ion-icon name="eye"></ion-icon></ion-button><ion-button color="danger"><ion-icon name="close-outline"></ion-icon></ion-button></td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</div>
