<ion-header class="ion-no-border">

  <ion-toolbar>
        <ion-img src="assets/icon/NEUST LOGO.png/"></ion-img>
   
  
      <ion-button class="ion-text-end" slot="end" (click)="masterlist()">
      <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
    <ion-title>NEUST CLINIC</ion-title>
  </ion-toolbar>
  </ion-header>
        
        <ion-content class="ion-padding">
  
  
           <div class="d-flex flex-column">
              <div class="img-div">
                <img class="circle-pic" src="assets/icon/profile2.jpg"/>
                <img class="camera-icon" src="assets/icon/icon-camera.png"/>
              </div>
              <div class="btn-container">
                <ion-button shape="round" class="upload-btn">Upload</ion-button>
              </div>
           </div>
  
           <ion-list>
  
            <h1>Personal Information</h1>
  
            <form>    
            <label>Username</label>
            <input value="MarkAngelo">
      
          
            <label>First Name</label>
            <input value="Mark Angelo">
      
         
            <label>Middle Name</label>
            <input value="M">
            
          
            <label>Last Name</label>
            <input value="Gamboa">
            
      
  
         
            <label>Ext.</label>
            <input value="N/A">
  
           
            <label>Age</label>
            <input value="24" disabled>
  
          
            <label>Birthdate</label>
            <input type="date" value="1998-06-24">
         
        
      
              <label for="gender">Gender</label>
              <select name="gender" id="gender">
                <option value="male">Male</option>
                <option value="gender">Gender</option>
               
                <option value="female">Female</option>
              </select>
  
              <label for="catholic">Religion</label>
              <select name="catholic" id="catholic">
                <option value="catholic">Roman Catholic</option>
                <option value="inc">Iglesia ni Cristo</option>
                <option value="islam">Islam</option>
                <option value="jwit">Jehovah's Witnesses</option>
                <option value="bap">Bible Baptist Church</option>
                <option value="mor">Mormon</option>
                <option value="born">Born Again</option>
              </select>
      
         
  
              <label for="course">Course</label>
              <select name="course" id="course">
                <option value="bsit">BSIT</option>
                <option value="bsed">BSED</option>
                <option value="bse">BSE</option>
                <option value="bsa">BSA</option>
              </select>
  
              <label for="yearlevel">Year Level</label>
              <select name="yearlevel" id="yearlevel">
                <option value="bsa">4th</option>
                <option value="bsit">1st</option>
                <option value="bsed">2nd</option>
                <option value="bse">3rd</option>
              </select>
  
              <label>Schoolyear</label>
              <input value="2022">
    
              <h1>Contact</h1>
  
              <label>Contact</label>
              <input value="09235235522">
          
              <label>Email</label>
              <input value="mark_gamboa@gmail.com">
          
              <label>Cellphone Number (Parents/Guardians)</label>
              <input value="09354435354">
          
              <h1>Family</h1>
          
              <label>Father</label>
              <input value="Marco Gamboa">
          
              <label>Occupation</label>
              <input value="Tailor">
              
              <label>Mother</label>
              <input value="Marie Gamboa">
          
              <label>Occupation</label>
              <input value="Housewife">
          
              <h1>Address</h1>
          
              <label>House Number</label>
              <input value="667">
          
              <label>Street</label>
              <input value="Sinipit">
          
              <label>City/Municipality</label>
              <input value="Cabiao">
          
              <label>Province</label>
              <input value="Nueva Ecija">
  
    <h1>BMI</h1>
    <label>Blood Pressure</label>
    <input value="N/A">
  
    <label>Height (cm)</label>
    <input value="172">
  
    <label>Weight (kg)</label>
    <input value="60">
      
  
   
     
          <label class="ion-text-wrap">If you have chronic illnesses (Diabetes, Seizures, Asthma) please give details:</label>
  
    <label>Illness</label>
    <input value="N/A">
  
    <label>Age at Diagnosis</label>
    <input value="N/A">
  
    <label>Present Medication and Schedule: (Kasalukuyang iniinom na mga gamot)</label>
    <input value="N/A">
  
    <label>Doctor's Name</label>
    <input value="N/A">
     
    <label>Clinic Address</label>
    <input value="N/A">
  
    <label>Telephone Number</label>
    <input value="N/A">
          
  
  
    <div class="ion-text-center">
        <ion-button shape="round">Update</ion-button>
        </div>
  
        <ion-label>BCG</ion-label>
          <ion-radio-group value="custom-checked">
            <ion-radio value="custom"></ion-radio>
            <ion-radio value="custom-checked"></ion-radio>
          </ion-radio-group>
        
      </form>
  
  
  
  
  